<br>
<br>
<br>
<br>
<p> Grid with borders</p>

<br>
<iframe src="https://snapwidget.com/embed/669779" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:495px; height:330px"></iframe>
<div style="font:10px/14px 'Roboto','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:400;width:495px;text-align:right"></div>

<p> Grid without borders</p>
<br>
<iframe src="https://snapwidget.com/embed/669785" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:480px; height:320px"></iframe>
<div style="font:10px/14px 'Roboto','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:400;width:480px;text-align:right"></div>
<br>
<p> Slideshow</p>
<ul>
	<li>May lead to excessive white space due to picture size</li>
</ul>
<br>
<iframe src="https://snapwidget.com/embed/669781" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:160px; height:160px"></iframe>
<br>
<p>Scrolling</p>
<ul> 
	<li>Only works well with Design 1 - other designs may have unnecessary white space</li>
</ul>
<br>
<iframe src="https://snapwidget.com/embed/669782" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:480px; height:160px"></iframe>

<br>
<p>Grid with borders & Description and without photo board</p>
<ul>
	<li>Due to grey text, it may be hard to see caption on some background colours</li>
</ul>
<iframe src="https://snapwidget.com/embed/669783" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:495px; height:580px"></iframe>

<p> Grid with borders, description & photo board</p>
<ul>
	<li> Due to grey text, it may be hard to see caption on some background colours</li>
</ul>
<br>
<iframe src="https://snapwidget.com/embed/669784" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:525px; height:600px"></iframe>
